[submodule "evil"]
	path = evil
	url = git://gitorious.org/evil/evil.git
[submodule "undo-tree"]
	path = undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "flymake-cursor"]
	path = flymake-cursor
	url = https://github.com/emacsmirror/flymake-cursor.git
