[submodule "evil"]
	path = evil
	url = git://gitorious.org/evil/evil.git
[submodule "undo-tree"]
	path = undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "flymake-cursor"]
	path = flymake-cursor
	url = https://github.com/emacsmirror/flymake-cursor.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "smex"]
	path = smex
	url = https://github.com/nonsequitur/smex.git
[submodule "rainbow-delimiters"]
	path = rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule "color-theme-wombat"]
	path = color-theme-wombat
	url = https://github.com/demizer/color-theme-wombat.git
[submodule "virtualenv.el"]
	path = virtualenv.el
	url = https://github.com/aculich/virtualenv.el.git
[submodule "evil-surround"]
	path = evil-surround
	url = https://github.com/timcharper/evil-surround.git
[submodule "mo-git-blame"]
	path = mo-git-blame
	url = https://github.com/mbunkus/mo-git-blame.git
[submodule "full-ack"]
	path = full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "evil-numbers"]
	path = evil-numbers
	url = https://github.com/cofi/evil-numbers.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/auto-complete/auto-complete.git
